$bgcolor: rgb(132,55,39, .25);
$fontsize: 1.95em;
$bannercolor: rgb(255,255,255);
$fourtywide: 40vw;
$sixtywide: 60vw;
$myMargin: 20px;
$bodycolor: rgb(122,54,37);
$betterFont: 'Catamaran', sans-serif;