$bgcolor: rgb(132,55,39, .25);
$fontsize: 1.5em;
$bannercolor: rgb(255,255,255);
$thirtywide: 30vw;
$seventywide: 70vw;
$myMargin: 20px;
$bodycolor: rgb(122,54,37);
$betterFont: Verdana, Geneva, Tahoma, sans-serif;