@use "variables" as *;
@use "base" as *;

body {
    margin: 0px;
}
img {
    margin: 0px;
    width: 100%;
    height: auto;
}
h1 {
    margin: $myMargin;
    font-family: $betterFont;
}
h2 {
    margin: $myMargin;
    font-family: $betterFont;
}
p {
    margin: $myMargin;
    font-family: $betterFont;
}
#profile {
    max-width: 200px;
    border-radius: 100px;
}
.top {
    display: flex;
    flex-direction: row;
    background-image: url("images/throneworld.jpg");
    background-size: cover;
    padding: 40px 20px;
}
.profilepic {
    display: flex;
    justify-content: center;
    width: $fourtywide;
}
.banner {
    display: flex;
    flex-direction: column;
    color: $bannercolor;
    width: $sixtywide;
    font-size: 1.5em;
    padding-left: 50px;
}
.middle {
    display: flex;
    flex-direction: row;
}
.left {
    display: flex;
    flex-direction: column;
    width: $fourtywide;
    color: $bodycolor;
    margin: 30px 10px 30px 30px;
}
.right {
    display: flex;
    flex-direction: column;
    width: $sixtywide;
    background-color: $bgcolor;
    color: $bodycolor;
    padding: 30px 10px 30px 30px;
}
.contact {
    margin: 0px 20px;
}
